<h3>Dashboard</h3>

<h4>Company name</h4>

<div class="header">
    <div class="component">
        <p><a routerLink="order">Orders</a> due within next 7 days</p>
        <p style="float: left; text-align: left; width: 250px">Something to be displayed here here here here here here here here really long bill is here</p>
        <img src="../../../../assets/images/order.png" style="background-color: white; float: right" width="120px" height="89px">
    </div>

    <div class="component">
        <p><a routerLink="bill">Bills</a> due within next 7 days</p>
        <p style="float: left; text-align: left; width: 250px">Something to be displayed here here here here here here here here really long bill is here</p>
        <img src="../../../../assets/images/bill.png" style="background-color: white; float: right" width="120px" height="89px">
    </div>

    <div class="component">
        <p><a routerLink="inventory">Inventory</a> status</p>
        <p style="float: left; text-align: left; width: 250px">Something to be displayed here here here here here here here here really long bill is here</p>
        <img src="../../../../assets/images/inventory.png" style="background-color: white; float: right" width="120px" height="89px">
    </div>

    <div class="component">
        <p>Number of <a routerLink="product">products</a></p>
        <p style="float: left; text-align: left; width: 250px">Something to be displayed here here here here here here here here really long bill is here</p>
        <img src="../../../../assets/images/product.jpg" style="background-color: white; float: right" width="120px" height="89px">
    </div>
</div>

<div class="body">
    <div class="profit">
        <h5>Projected revenue over next 7 days</h5>
        <p>Here are some contents</p>
    </div>
    <div class="expense">
        <h5>Bills paid within last 7 days</h5>
        <ul>
            <li>First bill</li>
            <li>Second bill</li>
            <li>third bill</li>
            <li>One more bill</li>
            <li>last bill</li>
        </ul>
    </div>
</div>
    