<h3>Dashboard</h3>

<h4>Company name</h4>

<!-- {{(data|async)?.lastUpdated.toDate().toDateString()}} -->


<div class="container">
    <div class="row">
        <div class="col-sm col-style">
            <p><a routerLink="order">Orders coming due</a></p>
            <ol>
                <li *ngFor="let order of (data | async)?.upcomingOrders">
                    <span>{{order.name}}</span>
                </li>
            </ol>
            <!-- <img src="../../../../assets/images/order.png" style="background-color: white; float: right" width="120px" height="89px"> -->
        </div>

        <div class="col-sm col-style">
            <p><a routerLink="bill">Bills coming due</a></p>
            <ol>
                <li *ngFor="let bill of (data | async)?.upcomingBills">
                    <span>{{bill.name}}</span>
                </li>
            </ol>
            <!-- <img src="../../../../assets/images/bill.png" style="background-color: white; float: right" width="120px" height="89px"> -->
        </div>

        <div class="col-sm col-style">
            <p><a routerLink="inventory">Latest Inventory Added</a></p>
            <ol>
                <li *ngFor="let item of (data | async)?.latestInventory">
                    <span>{{item.name}}</span>
                </li>
            </ol>
            <!-- <img src="../../../../assets/images/inventory.png" style="background-color: white; float: right" width="120px" height="89px"> -->
        </div>

        <div class="col-sm col-style">
            <p><a routerLink="product">Latest Prodcuts Added</a></p>
            <ol>
                <li *ngFor="let order of (data | async)?.latestProducts">
                    <span>{{order.name}}</span>
                </li>
            </ol>
            <!-- <img src="../../../../assets/images/product.jpg" style="background-color: white; float: right" width="120px" height="89px"> -->
        </div>
    </div>
    <div class="row">
        <div class="col col-style">
            <h5>Projected revenue over next 7 days</h5>
            <h4>${{(data | async)?.projectedIncome}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <em>last fetched: {{(data | async)?.lastUpdated.toDate() | date:'h:mm a, MMM d, y'}}</em>
        </div>
    </div>
</div>

