<!-- Default form login -->
<div class="login">
    <form class="text-center border border-light p-5">

        <p class="h4 mb-4">Sign in</p>
      
        <!-- Email -->
        <div class="form-group">
          <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" />
        </div>
        
      
        <!-- Password -->
        <div class="form-group">
          <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" />
        </div>
        
        
      
        <!-- Sign in button -->
        <button mdbBtn color="info" block="true" class="btn-primary" type="submit">Sign in</button>

        <br />
        <br />
      
        <!-- Register -->
        <p>Not a member?
          <a href="signup">Register</a>
        </p>
      
      </form>
</div>
