
<div class="container">
    <br />
    <h3>Why WorkMVRK?</h3>
        <p class="intro">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Running a small business is an exciting opportunity for a budding entrepreneur. The freedom that comes with running 
        your own business is one of the main drives for small business owners. However, unlike working as an employee for 
        a larger company, the onus is on a sole individual or small group of individuals to keep everything in order--product 
        listings, backlog tracking, order tracking, inventory tracking, etc.. As a result the team will be overwhelmed with 
        administrative tasks--taking away time that would normally be dedicated towards their regular business duties. The design 
        of WorkMVRK is aiming to solve the problems that small business owners may concern. 
    </p>
    <br />
    <h3>How does WorkMVRK work?</h3>
    <p class="intro">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WorkMVRK is a web-app designed to 
        relieve the aforementioned stresses that are associated with running a small business. The web-app will empower 
        entrepreneurs to organize and plan orders, track inventory, and expense/income reports. Business owners will register 
        through the web-app and enter in their business details. The user can then log orders, expenses, and inventory through 
        the interface. Additionally a dashboard will be provided so that the user can see important information at-a-glance. 
        WorkMVRK will be a Single Page Application implemented using an MVC software architecture and will be powered through 
        the Angular JavaScript framework. The backend functionality will be provided through Firebase, 
        Google's backend-as-a-service solution. Additional backend functionality will be provided through Cloud Functions--which 
        are essentially JavaScript functions running on the backend.
    </p>
    <br />
    <h3>Contact us</h3>
    <h4>support@workmvrk.ca</h4>
    <h4>1-800-585-3427</h4>

</div>



